<!DOCTYPE html>
<html ng-app="myapp">
<head>
	<title>Form Validation</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	
</head>
<body >

<div>
     <div class="container main-container" ng-controller="validateform">
           <form ng-submit="onSubmit()" novalidate="novalidate">
               <div class="form-group">
                   <label for="name">Name</label>
                   <input type="text" class="form-control" id="name" ng-model="formModel.name" required="required"
                   			ng-pattern="/^[a-zA-Z]{1,30}$/" ng-pattern-err-type="badname">
               </div>
               <div class="form-group">
                   <label for="username">Username</label>
                   <input type="text" class="form-control" id="username" ng-model="formModel.username" ng-pattern="/^[A-Za-z0-9_]{1,15}$/" ng-minlength="7" required="required" ng-pattern-err-type="badusername">
               </div>
                 <div class="form-group">
                   <label for="password">Password</label>
                   <input type="password" class="form-control" id="password" ng-model="formModel.password" required="required" ng-minlength="7">
               </div>
               <div class="form-group">
                   <label for="email">Email</label>
                   <input type="email" class="form-control" id="email" ng-model="formModel.email" name='email' required="required">
               </div>
                <div class="form-group">
                   <label for="age">Age</label>
                   <input type="number" class="form-control" id="age" ng-model="formModel.age" required="required" min="18" max="80"
                   			ng-min-err-type="minage" ng-max-err-type="maxage"	>
               </div>
               <div class="form-group">
                   <label for="sex">Sex</label>
                   <select name="sex" id="sex" ng-model="formModel.sex"class="form-control" required="required">
                        <option value="">Please select</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                   </select>
               </div>
               <div class="form-group">
                   <button class="btn btn-primary" type='submit'>Register</button>
               </div>
           </form>
          <!--  <pre>{{formModel | json}}</pre> -->
     </div>
</div>

<script type="text/javascript" src="angular-1.5.0/angular.js"></script>
<script src="bower_components/angular-auto-validate/dist/jcs-auto-validate.min.js"></script>
<script type="text/javascript" src="controller/formvalidate.js"></script>
</body>
</html>